:root {
  --emulator-safe-area-inset-left: 0px;
  --emulator-safe-area-inset-right: 0px;
  --emulator-safe-area-inset-top: 0px;
  --emulator-safe-area-inset-bottom: 0px;
  --emulator-titlebar-area-width: 0px;
  --emulator-titlebar-area-height: 0px;
  --emulator-titlebar-area-x: 0px;
  --emulator-titlebar-area-y: 0px;
  --emulator-keyboard-inset-left: 0px;
  --emulator-keyboard-inset-right: 0px;
  --emulator-keyboard-inset-top: 0px;
  --emulator-keyboard-inset-bottom: 0px;
  --emulator-width: 1280;
  --emulator-height: 720;
  --emulator-orientation: landscape;
  --emulator-dpi: 1;
  --emulator-color: 1;
  --emulator-color-gamut: srgb;
  --emulator-color-index: 1;
  --emulator-forced-colors: none;
  --emulator-forced-colors-type: none;
  --emulator-inverted-colors: none;
  --emulator-monochrome: 0;
  --emulator-dynamic-range: standard;
  --emulator-color-scheme: light;
  --emulator-contrast: no-preference;
  --emulator-reduced-motion: no-preference;
  --emulator-reduced-transparency: no-preference;
  --emulator-update: fast;
  --emulator-scan: progressive;
  --emulator-grid: 0;
  --emulator-display-mode: browser;
  --emulator-overflow-block: none;
  --emulator-overflow-inline: none;
  --emulator-webkit-transform-3d: true;
  --emulator-scripting: enabled;
  --emulator-pointer: fine;
  --emulator-hover: hover;
  --emulator-screen-fold-api-max: 0;
  --emulator-fake-ua: none;
  --emulator-fake-ua-mobile: none;
  --emulator-fake-ua-platform: none;
  --emulator-fake-ua-brands: none;
}