::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}
body {
    margin: 0;
}
body#viewport {
    background-color: #1f1f1f;
}
iframe {
    border: none;
}
#emulator_container {
    width: 270px;
    height: 660px;
    overflow: hidden;
    position: absolute;
}
svg#svg-container {
    display: none;
}
img#skin {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform-origin: top left;
}
